@font-face {
    font-family: 'Karla', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Karla") format("opentype");
    font-weight: 300;
}

body, html {
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    padding: 40px 60px;
}

header {
    margin-bottom: 20px;
}
h1 {
    color: #282C35;
    font-weight: 300;
    margin-bottom: 5px;
}
p {
    margin-top: 0;
    font-style: italic;
    color: #363A43;
}


.heatmap {}
.day-label,
.hour-label {
    fill: #666A73;
}